 @model Equipe
    @{
        ViewData["Title"] = "Noticias";
    }
    <form action="@Url.Action("Cadastrar")" method="POST" enctype="multipart/form-data">
        <label for="IdNoticia">IdNoticia</label>
        <input type="text" name="IdNoticia" id="IdNoticia">

        <label for="Titulo">Titulo</label>
        <input type="text" name="Titulo" id="Titulo">

        <label for="Texto">Texto</label>
        <input type="text" name="Texto" id="Texto">

        <label for="Imagem">Imagem</label>
        <input type="file" name="Imagem" id="Imagem">

        <button type="submit">Cadastrar</button>

    </form>

    <table class="table table-responsive table-striped">
        <thead>
            <th>IdEquipe</th>
            <th>Titulo</th>
            <th>Texto</th>
            <th>Iagem</th>
            <th>Ações</th>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Noticias)
            {
                <tr>
                    <td>@item.IdNoticia</td>
                    <td>@item.Titulo</td>
                    <td>@item.Texto</td>
                    <td><img src="img/Noticias/@item.Imagem" alt="Imagem da noticia @item.Titulo" width="40"></td>
                    <td><a asp-area="" asp-controller="Noticia" asp-action="Excluir" asp-route-id="@item.IdNoticia">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>